<%- include('partials/header', { title: 'News', username }) %>
<main class="page-content container text-center">
  <h1 class="display-4 mb-4 text-center"><%= t.news.title %></h1>
  <p class="lead text-muted text-center"><%= t.news.subtitle %></p>
  <div class="mt-5 text-center">
    <p><%= t.news.nonews %></p>
  </div>
</main>
<%- include('partials/footer') %>
