<%- include('../partials/header', { title: 'Pricing', username }) %>
<main class="page-content container text-center">
  <h1 class="display-4 mb-4"><%= t.pricing.title %></h1>
  <p class="lead text-muted"><%= t.pricing.subtitle %></p>
  <div class="row justify-content-center mt-5">
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body pricing-card-body">
          <h2 class="card-title"><%= t.pricing.plans.basic.name %></h2>
          <ul class="list-unstyled mb-3">
            <li><%= t.pricing.plans.basic.features[0] %></li>
            <li><%= t.pricing.plans.basic.features[1] %></li>
            <li><%= t.pricing.plans.basic.features[2] %></li>
            <li><%= t.pricing.plans.basic.features[3] %></li>
            <li><%= t.pricing.plans.basic.features[4] %></li>
            <li><%= t.pricing.plans.basic.features[5] %></li>
            <li><%= t.pricing.plans.basic.features[6] %></li>
            <li><%= t.pricing.plans.basic.features[7] %></li>
            <li><%= t.pricing.plans.basic.features[8] %></li>
            <li><%= t.pricing.plans.basic.features[9] %></li>
          </ul>
          <h3 class="mb-3"><span class="currency"><%= t.pricing.plans.basic.price %></span></h3>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body pricing-card-body">
          <h2 class="card-title"><%= t.pricing.plans.pro.name %></h2>
          <ul class="list-unstyled mb-3">
            <li><%= t.pricing.plans.pro.features[0] %></li>
            <li><%= t.pricing.plans.pro.features[1] %></li>
            <li><%= t.pricing.plans.pro.features[2] %></li>
            <li><%= t.pricing.plans.pro.features[3] %></li>
            <li><%= t.pricing.plans.pro.features[4] %></li>
            <li><%= t.pricing.plans.pro.features[5] %></li>
            <li><%= t.pricing.plans.pro.features[6] %></li>
            <li><%= t.pricing.plans.pro.features[7] %></li>
            <li><%= t.pricing.plans.pro.features[8] %></li>
            <li><%= t.pricing.plans.pro.features[9] %></li>
            <li><%= t.pricing.plans.pro.features[10] %></li>
            <li><%= t.pricing.plans.pro.features[11] %></li>
          </ul>
          <h3 class="mb-3"><span class="currency"><%= t.pricing.plans.pro.price %></span><span class="fs-6">/mo</span></h3>
        </div>
      </div>
    </div>
  </div>
</main>
<%- include('../partials/footer') %>
